{%extends 'base.html'%}
{%block title%}Login page{%endblock%}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Accolade</a>
</nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <!-- <div class="card-header">Login</div> -->
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div class="input-group">
                                  <input type="password" class="form-control" id="password" name="password" required>
                                  <span class="input-group-append">
                                    <button class="show_icon" type="button" id="show-password-toggle">
                                      <i class="fas fa-eye"></i>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            <div><span><input type="checkbox"> Remember me</span><span style="float:right"><a href="/forgotpassword">Forgot password</a></span></div>
                            <div class="login">
                            <button type="submit" class="btn btn-primary">Login</button><br>Not a Member? <a href="/registerpage">Signup Now</a></br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br> 
        <script>
            var passwordInput = document.getElementById("password");
            var toggleButton = document.getElementById("show-password-toggle");
          
            toggleButton.addEventListener("click", function() {
              if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleButton.innerHTML = '<i class="fas fa-eye-slash"></i>';
              } else {
                passwordInput.type = "password";
                toggleButton.innerHTML = '<i class="fas fa-eye"></i>';
              }
            });
          </script>
{%endblock%}
